@font-face {
    font-family: zara;
    src: url(fonts/Didot\ Title.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(media/image-landscape-db634aec-f379-4adf-972a-f0a121c0e167-default_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
  
.heading {
    font-family: 'zara', 'sans-serif';
    font-weight: 400;
    letter-spacing: -70px;
    font-size: 250px;
    color: #fff;
    margin-left: 5.5%;
}

h3, i {
    font-family: 'zara', 'sans-serif';
    font-weight: 400;
    color: #fff;
    margin-left: 5.5%;
}

button {
    background-color: transparent; 
    border: 1px solid #ffffff;
    color: white;
    padding: 12px 200px;
    text-align: center; 
    font-size: 16px;
    font-weight: 200; 
    cursor: pointer;
    transition: 0.4s;
    margin-left: 5.5%;
    margin-top: 1%;
  }
  
 button:hover {
    background-color: #fff;
    color: #000;
  }

  